{% extends 'base.html.twig' %}

{% block title %}Hello VoucherController!{% endblock %}

{% block body %}
<div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('vouchers') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('vouchers') }}
{% endblock %}
